<div class="container">
    <h1>Weather Forecast</h1>
    <input type="text" [(ngModel)]="city" placeholder="Enter city name" />
    <button (click)="searchCity()">Search</button>
</div>

<!-- Mostrar clima actual solo si weatherData y weatherData.name están disponibles -->
<div *ngIf="weatherData && weatherData.name" [ngClass]="getWeatherClass()" class="weather-container">
    <h2>Current Weather in {{ weatherData.name }}</h2>
    <div class="weather-list">
        <div class="weather-item">
            <p>Temperature: {{ weatherData.main.temp }} °C</p>
            <p>Weather: {{ weatherData.weather[0].description }}</p>
            <i *ngIf="weatherData.weather[0].main === 'Clear'" class="fas fa-sun"></i>
            <i *ngIf="weatherData.weather[0].main === 'Clouds'" class="fas fa-cloud"></i>
            <i *ngIf="weatherData.weather[0].main === 'Rain'" class="fas fa-cloud-showers-heavy"></i>
            <i *ngIf="weatherData.weather[0].main === 'Snow'" class="fas fa-snowflake"></i>
            <i *ngIf="weatherData.weather[0].main === 'Wind'" class="fas fa-wind"></i>

            <div *ngIf="weatherData.weather[0].main === 'Rain'" class="rain"></div>
            <div *ngIf="weatherData.weather[0].main === 'Rain'" class="rain"></div>
            <div *ngIf="weatherData.weather[0].main === 'Rain'" class="rain"></div>
        </div>
    </div>
</div>